---
# OAuth Authorization keys [Mandatory]
OAUTH_CLIENT_ID: --- SOME ID ---
OAUTH_CLIENT_SECRET: --- SOME SECRET ---

# API global keys [Optional]
GLOBAL_CLIENT_ID: --- SOME ID ---
GLOBAL_SERVICE_ACCOUNT_ID: --- SOME ID ---

TEST_ACCESS_TOKEN_BASE_URL: -- SOME URL --
TEST_API_BASE_HOST: -- SOME HOST --
LIVE_ACCESS_TOKEN_BASE_URL: -- SOME URL --
LIVE_API_BASE_HOST: -- SOME HOST --
ACCESS_TOKEN_ENDPOINT: connect/token
ACCESS_TOKEN_SCOPE: PartnerApi
